<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 " style="margin-top: 20; margin-bottom: 20; max-width: 60%;">
      <div class="card" style="margin-top: 100px;">
        <div class="card-header" style="min-height: 70px; background-color: rgb(167, 167, 247)">
          <div class="row justify-content-center" style="font-size: 20px; margin-top: 15px; font-weight: bolder;">
            <div class="col-lg-3">
              <div style="height: 100%; cursor: pointer;" [routerLink]="['login']">Login </div>
            </div>
            <div class="col-lg-3">
              <div style="height: 100%; cursor: pointer;" [routerLink]="['projects/add']">Add Project </div>
            </div>
            <div class="col-lg-3">
              <div style="height: 100%; cursor: pointer;" [routerLink]="['projects/all']">All Projects</div>
            </div>
            <div class="col-lg-3">
              <div style="height: 100%; cursor: pointer;">Students</div>
            </div>
          </div> 
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>